@import url('https://fonts.googleapis.com/css?family=Merriweather');

body{
  position: relative;
  width: 100vw;
  height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*
sQ('.sCal_row:nth-of-type(2n)').find('div:nth-of-type(3n)').css('background-color', 'red')
SelfQuery {content: Array(6), length: 6}
sQ('.sCal_row:nth-of-type(2n)').find('div:nth-of-type(1n)').css('background-color', 'red')
SelfQuery {content: Array(21), length: 21}
sQ('.sCal_row:nth-of-type(2n)').find('div:nth-of-type(2n)').css('background-color', 'blue')
SelfQuery {content: Array(9), length: 9}
sQ('.sCal_row:nth-of-type(2n - 1)').find('div:nth-of-type(2n)').css('background-color', 'green')
SelfQuery {content: Array(9), length: 9}
sQ('.sCal_row:nth-of-type(2n - 1)').find('div:nth-of-type(2n - 1)').css('background-color', 'purple')
*/

/*
#calendar, #calendar {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0;
}

#calendar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 350px;

  font-family: 'Merriweather', serif;
}

#calendar .cal-header{
  width: 100%;
  height: 62px;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

}

#calendar *{
    display: flex;
}

#calendar .cal-header .cal-button{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #fff;

  width: 50px;
  height: 62px;
  padding: 10px;

  background-color: #ff5252;
  border-style: solid;
  border-color: #000;

  cursor: pointer;

  transition: 1s ease;
}

#calendar .cal-header .cal-button:hover{
  background-color: #c31818;
}

#calendar .cal-header .cal-prev{
  border-top-left-radius: 10px;
  border-width: 3px 1px 3px 3px;
}

#calendar .cal-header .cal-next{
  border-top-right-radius: 10px;
  border-width: 3px 3px 3px 1px;
}

#calendar .cal-header .cal-label{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #000;

  width: 300px;
  height: 100%;
  line-height: 54px;

  background-color: #ff5252;
  border-top: solid 3px #000;
  border-bottom: solid 3px #000;
}

#calendar .cal-days{
  width: 100%;
  display: flex;
  align-items: center;

  margin-top: 15px;
  margin-bottom: 10px;
}

#calendar .cal-days div{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #000;

  width: 50px;
  text-align: center;

  user-select: none;
  cursor: default;
}

#calendar .cal-dates{
  display: flex;
  flex-flow: column;

  border: 3px solid #000;
}

#calendar .cal-dates .cal-row{
  display: flex;
  flex-flow: row;

}

#calendar .cal-dates .cal-row div{
  width: 50px;
  height: 50px;

  font-weight: bold;
  font-size: 18px;

  line-height: 50px;
  text-align: right;
  padding-right: 15px;


  user-select: none;
  cursor: pointer;
}

#calendar .cal-dates .cal-row div:hover{
  background-color: #ff5252;
}

#calendar .cal-dates .cal-row:not(:last-child) div:not(:last-child){
  border-right: solid 2px #000;
  border-bottom: solid 2px #000;
}

#calendar .cal-dates .cal-row:not(:last-child) div:last-child{
  border-bottom: solid 2px #000;
}

#calendar .cal-dates .cal-row:last-child div:not(:last-child){
  border-right: solid 2px #000;
}

#calendar .cal-dates .cal-row .cal-normal{
  background-color: #fff;
  color: #000;
}

#calendar .cal-dates .cal-row .cal-today{
  background-color: #1af925;
  color: #000;
}

#calendar .cal-dates .cal-row .cal-other-month{
  background-color: #a6a6a6;
  color: #262626;

}

#calendar .cal-dates .cal-row .cal-selected{
  background-color: #049be5;
  color: #000;
}

#calendar .cal-dates .cal-row .cal-unusable{
  background-color: #333;
  color: #000;
}

#calendar .cal-dates .cal-row .cal-unusable:hover{
  background-color: #333;
  color: #000;
}
*/
